@import url("./button-href.css");
@import url("./user-profile.css");
@import url("./user-projects.css");
@import url("./user-project.css");
@import url("./user-skills.css");

:root {
  --color-1: #000;
  --color-2: #fd76cb;
  --color-3: #ffac30;
  --color-4: #fffefd;
  --color-5: #ff00a2;
  --color-6: #212121;
}

@font-face {
  font-family: "Gilroy";
  src: url("../assets/fonts/Gilroy-Regular.ttf") format("truetype"),
    url("../assets/fonts/Gilroy-Regular.woff") format("woff")
      url("../assets/fonts/Gilroy-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Graduate";
  src: url("../assets/fonts/Graduate-Regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  font-family: "Gilroy", sans-serif, Arial;
}

body,
html {
  height: 100%;

  background-color: var(--color-1);
}

.wrapper {
  max-width: 600px;

  margin: 0 auto;
}

.main {
  padding-top: 40px;
}

.body-inner {
  position: relative;
}

.background-style {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  min-height: 100vh;
  height: 100%;

  -webkit-filter: blur(40px);
  filter: blur(40px);

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;

  opacity: 0.9;
}

.background-style__circle {
  width: 200px;
  height: 200px;

  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}

.background-style__circle-1 {
  width: 120px;
  height: 120px;

  margin-top: 130px;
  margin-right: 350px;

  background-color: var(--color-3);
}

.background-style__circle-2 {
  margin-top: 200px;
  margin-left: 260px;

  background-color: var(--color-2);
}

.page {
  position: relative;
}
