.user-skills {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  margin-top: 60px;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.user-skills__title {
  font-weight: 300;
  font-size: 25px;

  text-align: center;
  letter-spacing: 3px;

  color: var(--color-4);
}

.user-skills__list {
  width: 100%;

  margin-top: 20px;
}

.user-skill {
  width: 100%;
  height: 30px;

  color: var(--color-4);

  margin-top: 14px;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  position: relative;
}

.user-skill:first-child {
  margin-top: 0px;
}

.user-skill__top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.user-skill__name {
  font-weight: 600;
  font-size: 16px;

  letter-spacing: 1px;

  position: relative;
  right: 14px;
}

.user-skill__points {
  font-weight: 600;

  opacity: 0.3;

  margin-bottom: 3px;
}

.user-skill__bar {
  width: 100%;
  height: 5px;

  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(30%, var(--color-1)),
    to(var(--color-6))
  );
  background: -webkit-linear-gradient(
    left,
    var(--color-1) 30%,
    var(--color-6) 100%
  );
  background: -moz-linear-gradient(
    left,
    var(--color-1) 30%,
    var(--color-6) 100%
  );
  background: -o-linear-gradient(left, var(--color-1) 30%, var(--color-6) 100%);
  background: linear-gradient(90deg, var(--color-1) 30%, var(--color-6) 100%);
}

.user-skill__bar-inner {
  width: 50%;
  height: 5px;

  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(var(--color-2)),
    to(var(--color-3))
  );
  background: -webkit-linear-gradient(left, var(--color-2), var(--color-3));
  background: -moz-linear-gradient(left, var(--color-2), var(--color-3));
  background: -o-linear-gradient(left, var(--color-2), var(--color-3));
  background: linear-gradient(90deg, var(--color-2), var(--color-3));

  -webkit-box-shadow: 0px 0px 18px var(--color-4);
  -moz-box-shadow: 0px 0px 18px var(--color-4);
  box-shadow: 0px 0px 18px var(--color-4);

  -webkit-transition: width 2s;
  -o-transition: width 2s;
  -moz-transition: width 2s;
  transition: width 2s;
}
