.user-profile__logo-wrapper {
  width: 140px;
  height: 140px;

  border: 2px solid var(--color-2);

  -webkit-box-shadow: 0px 0px 40px var(--color-5);
  -moz-box-shadow: 0px 0px 40px var(--color-5);
  box-shadow: 0px 0px 40px var(--color-5);

  margin: 0 auto;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;

  -webkit-transition: -webkit-transform linear 0.3s;
  transition: -webkit-transform linear 0.3s;
  -o-transition: -o-transform linear 0.3s;
  -moz-transition: transform linear 0.3s, -moz-transform linear 0.3s;
  transition: transform linear 0.3s;
  transition: transform linear 0.3s, -webkit-transform linear 0.3s,
    -moz-transform linear 0.3s, -o-transform linear 0.3s;

  cursor: pointer;

  position: relative;
}

.user-profile__emoji {
  position: absolute;

  width: 35px;
  height: 35px;

  top: 100px;
  right: 0;
}

.user-profile__logo-wrapper:hover {
  -webkit-transform: scale(1.04);
  -moz-transform: scale(1.04);
  -ms-transform: scale(1.04);
  -o-transform: scale(1.04);
  transform: scale(1.04);
}

.user-profile__logo {
  width: 100%;
  height: 100%;

  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;

  background: url("../assets/logo.png") top/cover no-repeat;
}

.user-profile__name {
  text-align: center;

  color: var(--color-4);

  margin-top: 40px;

  font-size: 28px;

  text-transform: uppercase;
  letter-spacing: 10px;
}

.user-profile__subtext {
  text-align: center;
  color: var(--color-4);
  font-size: 14px;
  letter-spacing: 3px;

  opacity: 0.3;

  margin-top: 5px;
}

.user-profile__name-red-letter {
  color: var(--color-3);

  text-shadow: 0px 0px 12px var(--color-3);
}

.user-profile__contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  margin-top: 60px;
}

.user-profile__contact-item {
  width: 30px;
  height: 30px;

  display: block;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid var(--color-2);

  padding: 4px;
  margin-right: 22px;

  -webkit-transition: border linear 0.3s;
  -o-transition: border linear 0.3s;
  -moz-transition: border linear 0.3s;
  transition: border linear 0.3s;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  cursor: pointer;
}

.user-profile__contact-item:last-child {
  margin-right: 0px;
}

.user-profile__contact-item svg {
  fill: var(--color-2);

  -webkit-transition: fill linear 0.3s;
  -o-transition: fill linear 0.3s;
  -moz-transition: fill linear 0.3s;
  transition: fill linear 0.3s;
}

.user-profile__contact-item:hover {
  border: 2px solid var(--color-3);
}
.user-profile__contact-item:hover svg {
  fill: var(--color-3);
}

.user-profile__stats {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  margin-top: 60px;

  text-align: center;
}

.user-profile__stat-item {
  width: 100px;

  color: var(--color-4);

  margin-left: 10px;
  margin-right: 10px;

  cursor: pointer;
}

.user-profile__stat-item:hover .user-profile__stat-item-count {
  color: var(--color-3);
}

.user-profile__stat-item-count {
  text-align: center;

  -webkit-transition: color linear 0.3s;
  -o-transition: color linear 0.3s;
  -moz-transition: color linear 0.3s;

  transition: color linear 0.3s;
}

.user-profile__stat-item-text {
  display: block;

  font-size: 14px;
  text-align: center;

  margin-top: 6px;

  opacity: 0.5;

  cursor: pointer;
}

@media screen and (max-width: 435px) {
  .user-profile__logo-wrapper {
    width: 120px;
    height: 120px;
  }

  .user-profile__emoji {
    top: 80px;
    right: 0;
  }

  .user-profile__stat-item {
    margin-left: 4px;
    margin-right: 4px;
  }

  .user-profile__stat-item-count {
    font-size: 15px;
  }

  .user-profile__stat-item-text {
    font-size: 12px;
  }
}
