.user-project {
  min-width: 514px;
  height: 200px;

  display: inline-flex;

  border-radius: 15px;

  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.1);

  border: 1px solid rgb(255, 255, 255, 0.2);
}

.user-project__img-wrapper {
  flex: 8;

  border-radius: 15px;

  overflow: hidden;
}

.user-project__img-rotate {
  width: 100%;
  height: 400px;

  border: 2px solid var(--color-2);

  transition: border 0.3s, transform 0.3s;

  transform: rotate(45deg) translateX(-200px) translateY(-60px);

  position: relative;

  cursor: pointer;

  overflow: hidden;
}

.user-project__img-rotate:hover {
  border: 2px solid var(--color-3);

  transform: rotate(45deg) translateX(-200px) translateY(-60px) scale(1.02);
}

.user-project__img {
  position: absolute;

  width: 500px;
  height: 500px;

  transform: rotate(-45deg);
}

.user-project__content {
  flex: 4;

  padding: 20px 20px 20px 0;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
}

.user-project__name {
  font-size: 24px;

  max-height: 90px;

  color: var(--color-4);

  text-align: right;

  overflow: hidden;

  text-overflow: ellipsis;
}
