.user-project {
  width: 100%;
  height: 100%;

  background-color: var(--color-1);

  box-shadow: 0px 2px 6px #21212163;

  transition: box-shadow linear 0.2s;

  display: flex;

  cursor: pointer;
}

.user-project__img-wrapper {
  flex: 7;

  overflow: hidden;
}

.user-project__img-rotate {
  width: 100%;
  height: 400px;

  background-color: white;

  transform: rotate(45deg) translateX(-200px) translateY(-60px);

  position: relative;

  overflow: hidden;
}

.user-project__img {
  position: absolute;

  width: 500px;
  height: 500px;

  transform: rotate(-45deg);
}

.user-project__content {
  flex: 4;

  padding: 20px 20px 20px 0;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
}

.user-project__name {
  color: white;

  font-size: 24px;

  max-height: 90px;

  text-align: right;

  overflow: hidden;

  text-overflow: ellipsis;
}

.user-project__href {
  display: block;

  color: white;

  font-weight: 600;

  transition: background-color linear 0.3s, color linear 0.3s;

  width: 100px;
  height: 30px;

  border-bottom: 2px solid white;

  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

.user-project__href:hover {
  background-color: white;

  color: var(--color-1);
}
