.user-projects {
  width: 100%;

  margin-top: 20px;
}

.user-projects__top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-projects__btn {
  width: 50px;
  height: 100%;

  background: none;
  outline: none;
  border: none;

  cursor: pointer;

  transition: opacity linear 0.3s;
}

.user-projects__btn svg path {
  opacity: 0.6;

  fill: var(--color-2);
}

.user-projects__btn:hover .user-projects__btn svg path {
  opacity: 1;
}

.user-projects__slide {
  min-width: 514px;
  height: 220px;

  display: flex;
  align-items: center;

  overflow-x: hidden;
}

.user-projects__slide-inner {
  width: 514px;
  height: 220px;

  display: flex;
  align-items: center;
}

.user-projects__slide-inner_transition {
  transition: transform 0.4s;
}

.user-projects__bar {
  width: 100%;
  max-width: 280px;
  height: 2px;

  background-color: #212121;

  display: flex;
  justify-content: center;

  margin: 10px auto;
}

.user-projects__bar-inner {
  width: 0%;
  height: 100%;

  background-color: var(--color-3);
}

.user-projects__bar-inner_transition {
  transition: width linear 8s;
}
