.user-projects {
  width: 100%;
  height: 200px;

  margin-top: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.user-projects__btn {
  width: 50px;
  height: 100%;

  background: none;
  outline: none;
  border: none;

  cursor: pointer;

  transition: opacity linear 0.3s;
}

.user-projects__btn svg path {
  opacity: 0.6;

  fill: white;
}

.user-projects__slide {
  min-width: 514px;
  height: 220px;

  display: flex;
  align-items: center;

  overflow-x: hidden;
}

.user-projects__slide-inner {
  width: 514px;
  height: 220px;

  transition: transform ease-in 0.4s;

  display: flex;
}
