.user-project {
  min-width: 514px;
  height: 200px;

  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;

  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  border: 1px solid rgb(255, 255, 255, 0.2);

  -webkit-box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.1);
  -moz-box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.1);
}

.user-project__img-wrapper {
  -webkit-box-flex: 8;
  -webkit-flex: 8;
  -moz-box-flex: 8;
  -ms-flex: 8;
  flex: 8;

  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;

  overflow: hidden;
}

.user-project__img-rotate {
  width: 100%;
  height: 400px;

  border: 2px solid var(--color-2);

  -webkit-transition: border 0.3s, -webkit-transform 0.3s;
  transition: border 0.3s, -webkit-transform 0.3s;
  -o-transition: border 0.3s, -o-transform 0.3s;
  -moz-transition: border 0.3s, transform 0.3s, -moz-transform 0.3s;
  transition: border 0.3s, transform 0.3s;
  transition: border 0.3s, transform 0.3s, -webkit-transform 0.3s,
    -moz-transform 0.3s, -o-transform 0.3s;

  -webkit-transform: rotate(45deg) translateX(-200px) translateY(-60px);
  -moz-transform: rotate(45deg) translateX(-200px) translateY(-60px);
  -ms-transform: rotate(45deg) translateX(-200px) translateY(-60px);
  -o-transform: rotate(45deg) translateX(-200px) translateY(-60px);
  transform: rotate(45deg) translateX(-200px) translateY(-60px);

  position: relative;

  cursor: pointer;

  overflow: hidden;
}

.user-project__img-rotate:hover {
  border: 2px solid var(--color-3);

  -webkit-transform: rotate(45deg) translateX(-200px) translateY(-60px)
    scale(1.02);
  -moz-transform: rotate(45deg) translateX(-200px) translateY(-60px) scale(1.02);
  -ms-transform: rotate(45deg) translateX(-200px) translateY(-60px) scale(1.02);
  -o-transform: rotate(45deg) translateX(-200px) translateY(-60px) scale(1.02);
  transform: rotate(45deg) translateX(-200px) translateY(-60px) scale(1.02);
}

.user-project__img {
  position: absolute;

  width: 500px;
  height: 500px;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.user-project__content {
  -webkit-box-flex: 4;
  -webkit-flex: 4;
  -moz-box-flex: 4;
  -ms-flex: 4;
  flex: 4;

  padding: 20px 20px 20px 0;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -moz-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.user-project__name {
  max-height: 90px;

  color: var(--color-4);
  overflow: hidden;

  font-size: 24px;
  text-align: right;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

@media screen and (max-width: 600px) {
  .user-project {
    min-width: 0px;

    min-width: -webkit-calc(100vw - 62px);
    min-width: -moz-calc(100vw - 62px);
    min-width: calc(100vw - 62px);
  }

  .user-project__img-wrapper {
    -webkit-border-radius: 15px 0px 0px 15px;
    -moz-border-radius: 15px 0px 0px 15px;
    border-radius: 15px 0px 0px 15px;
  }

  .user-project__img-rotate {
    width: 100%;
    height: 400px;

    border: 0px;

    -webkit-transition: border 0.3s, -webkit-transform 0.3s;
    transition: border 0.3s, -webkit-transform 0.3s;
    -o-transition: border 0.3s, -o-transform 0.3s;
    -moz-transition: border 0.3s, transform 0.3s, -moz-transform 0.3s;
    transition: border 0.3s, transform 0.3s;
    transition: border 0.3s, transform 0.3s, -webkit-transform 0.3s,
      -moz-transform 0.3s, -o-transform 0.3s;

    -webkit-transform: rotate(0) translateX(0px) translateY(0px);
    -moz-transform: rotate(0) translateX(0px) translateY(0px);
    -ms-transform: rotate(0) translateX(0px) translateY(0px);
    -o-transform: rotate(0) translateX(0px) translateY(0px);
    transform: rotate(0) translateX(0px) translateY(0px);

    overflow: visible;
  }

  .user-project__img-rotate:hover {
    border: 0px;

    -webkit-transform: rotate(0) translateX(0px) translateY(0px);
    -moz-transform: rotate(0) translateX(0px) translateY(0px);
    -ms-transform: rotate(0) translateX(0px) translateY(0px);
    -o-transform: rotate(0) translateX(0px) translateY(0px);
    transform: rotate(0) translateX(0px) translateY(0px);
  }

  .user-project__img {
    width: 210px;
    height: 200px;

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  .user-project__content {
    padding: 20px 20px 20px 20px;
  }

  .user-project__name {
    font-size: 18px;
  }
}
