.user-profile__logo-wrapper {
  width: 140px;
  height: 140px;

  border: 2px solid var(--color-2);

  box-shadow: 0px 0px 40px var(--color-5);

  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 100%;

  transition: transform linear 0.3s;

  cursor: pointer;

  position: relative;
}

.user-profile__emoji {
  position: absolute;

  width: 35px;
  height: 35px;

  top: 100px;
  right: 0;
}

.user-profile__logo-wrapper:hover {
  transform: scale(1.04);
}

.user-profile__logo {
  width: 100%;
  height: 100%;

  border-radius: 100%;

  background: url("../assets/logo.png") top/cover no-repeat;
}

.user-profile__name {
  text-align: center;

  color: var(--color-4);

  margin-top: 40px;

  font-size: 28px;

  text-transform: uppercase;
  letter-spacing: 10px;
}

.user-profile__subtext {
  text-align: center;

  color: var(--color-4);

  font-size: 14px;

  opacity: 0.3;

  margin-top: 5px;

  letter-spacing: 3px;
}

.user-profile__name-red-letter {
  color: var(--color-3);

  text-shadow: 0px 0px 12px var(--color-3);
}

.user-profile__contacts {
  display: flex;
  justify-content: center;

  margin-top: 60px;
}

.user-profile__contact-item {
  width: 30px;
  height: 30px;

  display: block;

  border-radius: 5px;

  padding: 4px;
  margin-right: 22px;

  border: 2px solid var(--color-2);

  transition: border linear 0.3s;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.user-profile__contact-item svg {
  fill: var(--color-2);

  transition: fill linear 0.3s;
}

.user-profile__contact-item:hover {
  border: 2px solid var(--color-3);
}
.user-profile__contact-item:hover svg {
  fill: var(--color-3);
}

.user-profile__stats {
  display: flex;
  justify-content: center;

  margin-top: 60px;

  text-align: center;
}

.user-profile__stat-item {
  width: 100px;

  color: var(--color-4);

  margin-left: 10px;
  margin-right: 10px;
}

.user-profile__stat-item:hover .user-profile__stat-item-count {
  cursor: pointer;

  color: var(--color-3);
}

.user-profile__stat-item-count {
  text-align: center;

  transition: color linear 0.3s;
}

.user-profile__stat-item-text {
  display: block;

  font-size: 14px;

  text-align: center;

  margin-top: 6px;

  opacity: 0.5;

  cursor: pointer;
}
